.cue-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captions-container {
  display: flex;
  margin: 3em;
}

.time-column {
  width: 30%;
}

.caption-column {
  width: 70%;
}

.time-box, .caption-input {
  width: 100%;
  background-color: lightgrey;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.time-box, .caption-box {
  height: 4em;
}

.time-box {
  width: 10em;
}

.caption-box {
  width: 40em;
}